html, body {
    height: 100vh;
    margin: 0;
    font-family: Roboto-Regular;
}

// Fonts
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}
 
// Colors
$white: #fff;
$black: #000;
$blue: #100998;
$red: #B00020;

// Common styles

h1, h2, h3, h4, h5, h6 {
    margin: 0; 
}

@mixin centerVH {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background: $white;
    border-radius: 5px;
    &.final {
        background: #e6bf51 !important;
    }
}

.content {
    height: 100vh;
    background-image: url('../images/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.primary-btn { 
    background-color: $blue;
    border: none;
    font-family: Roboto-Light;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
    font-size: 16px;
    padding: 10px 35px;
    border-radius: 3px;
    cursor: pointer;
    i {
        position: relative;
        top: 6px;
        left: 4px;
        line-height: 0;
    }
}

.toast-message {
    background-color: $red;
    color: $white;
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 5px;
    top: -40px;
    transition: all 0.5s ease;
    top: -40px;
    span {
        font-family: Roboto-Regular;
        font-size: 14px;
        margin: 0 !important;
        line-height: 40px;
    }
    &.active {
        top: 0px;
    }
}

 .modal {
     display: none;
     background-color: $white;
     @include centerVH();
     width: 50vw;
     min-height: 600px;
     padding: 50px;
     ul {
         list-style: none;
         margin-top: 40px;
     }
 }