html, body {
  height: 100vh;
  margin: 0;
  font-family: Roboto-Regular; }

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf); }
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.card {
  background: #fff;
  border-radius: 5px; }
  .card.final {
    background: #e6bf51 !important; }

.content {
  height: 100vh;
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.primary-btn {
  background-color: #100998;
  border: none;
  font-family: Roboto-Light;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  padding: 10px 35px;
  border-radius: 3px;
  cursor: pointer; }
  .primary-btn i {
    position: relative;
    top: 6px;
    left: 4px;
    line-height: 0; }

.toast-message {
  background-color: #B00020;
  color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 5px;
  top: -40px;
  transition: all 0.5s ease;
  top: -40px; }
  .toast-message span {
    font-family: Roboto-Regular;
    font-size: 14px;
    margin: 0 !important;
    line-height: 40px; }
  .toast-message.active {
    top: 0px; }

.nav-menu {
  position: absolute;
  right: 30px;
  top: 30px; }
  .nav-menu ul {
    margin: 0;
    list-style: none; }
    .nav-menu ul li {
      margin-right: 30px;
      display: inline-block; }
      .nav-menu ul li a {
        color: #fff;
        font-family: Roboto-Bold;
        letter-spacing: 0.5px;
        font-size: 17px;
        text-decoration: none; }

.init {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .init .register-step {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 80px;
    text-align: center;
    overflow: hidden; }
    .init .register-step h2 {
      margin-bottom: 30px; }
    .init .register-step span {
      display: block;
      margin-bottom: 30px; }
    .init .register-step .input-wrapper {
      margin-bottom: 30px; }
      .init .register-step .input-wrapper label {
        padding-right: 15px; }
      .init .register-step .input-wrapper input {
        text-transform: uppercase;
        border: none;
        border-bottom: 1px solid #000;
        height: 30px;
        font-family: Roboto-Regular;
        font-size: 16px; }
        .init .register-step .input-wrapper input:focus {
          outline: none; }
    .init .register-step button {
      margin-top: 20px; }

.gameplay .round-content {
  padding: 30px 50px;
  width: 65vw;
  min-height: 390px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .gameplay .round-content .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
    .gameplay .round-content .center .plays {
      float: left;
      border-right: 1px solid #b7b3b3;
      width: calc(50% - 1px);
      text-align: center; }
      .gameplay .round-content .center .plays h2 {
        margin-bottom: 50px; }
      .gameplay .round-content .center .plays h4 {
        margin-bottom: 40px;
        font-family: Roboto-Light; }
        .gameplay .round-content .center .plays h4 span {
          font-family: Roboto-Bold;
          color: #B00020; }
      .gameplay .round-content .center .plays select {
        display: table;
        margin: 0 auto 50px auto;
        border: none;
        border-bottom: 1px solid #000;
        padding: 5px;
        width: 150px;
        font-size: 16px; }
        .gameplay .round-content .center .plays select:focus {
          outline: none; }
        .gameplay .round-content .center .plays select option {
          text-transform: uppercase; }
    .gameplay .round-content .center .results {
      text-align: center;
      width: 50%;
      float: left; }
      .gameplay .round-content .center .results h3 {
        margin-bottom: 20px; }
      .gameplay .round-content .center .results .score-list .list {
        padding: 0;
        list-style: none; }
        .gameplay .round-content .center .results .score-list .list li {
          margin: 10px 0;
          height: 40px; }
          .gameplay .round-content .center .results .score-list .list li .item {
            float: left;
            width: 50%; }
            .gameplay .round-content .center .results .score-list .list li .item span.tag {
              color: #fff;
              padding: 10px;
              font-family: Roboto-Light;
              border-radius: 3px;
              display: inline-block;
              width: 130px; }
            .gameplay .round-content .center .results .score-list .list li .item span.round {
              background-color: #E3423C; }
            .gameplay .round-content .center .results .score-list .list li .item span.winner {
              background-color: #069e43;
              color: #fff; }

.winner .box {
  padding: 30px 50px;
  width: 40vw;
  min-height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .winner .box h1 {
    margin-top: 50px;
    font-size: 40px; }
  .winner .box h4 {
    font-size: 40px;
    margin: 40px 0; }

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

.stadistics {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 80px; }
  .stadistics ul {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0 30px;
    max-height: 500px;
    overflow-y: scroll; }
    .stadistics ul li {
      margin-bottom: 20px; }
      .stadistics ul li .position {
        background-color: #B00020;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
        margin-right: 30px; }
        .stadistics ul li .position span {
          line-height: 30px;
          color: #fff; }
      .stadistics ul li .player {
        width: 200px;
        display: inline-block;
        margin-right: 30px; }

.config {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 50px; }
  .config ul {
    list-style: none;
    margin: 30px 0;
    padding: 0; }
    .config ul li {
      height: 50px; }
      .config ul li label {
        margin-right: 15px; }
      .config ul li input {
        border: 0;
        border-bottom: 1px solid #000;
        height: 30px;
        font-family: Roboto-Regular;
        font-size: 16px; }
        .config ul li input:first-of-type {
          margin-right: 20px; }
        .config ul li input:focus {
          outline: none; }
      .config ul li .suggest-input {
        display: inline-block;
        position: relative; }
        .config ul li .suggest-input .no-margin {
          margin-right: 0; }
        .config ul li .suggest-input ul {
          position: absolute;
          margin: 0;
          padding: 0;
          border: 1px solid #000;
          border-top: none;
          width: 100%; }
          .config ul li .suggest-input ul li {
            border-bottom: 1px solid #000;
            padding: 10px;
            height: 22px;
            cursor: pointer; }
            .config ul li .suggest-input ul li:last-of-type {
              border-bottom: none; }
            .config ul li .suggest-input ul li:hover {
              background-color: #e6e6e6; }

.modal {
  z-index: 2;
  height: 20vh; }
  .modal h3 {
    margin-bottom: 30px; }
  .modal .item {
    width: 50%;
    float: left; }
    .modal .item input {
      border: 0;
      border-bottom: 1px solid #000;
      height: 30px;
      font-family: Roboto-Regular;
      font-size: 16px;
      display: inline-block;
      width: 100%; }
      .modal .item input:first-of-type {
        margin-right: 20px; }
      .modal .item input:focus {
        outline: none; }
    .modal .item .suggest-input {
      display: block;
      position: relative; }
      .modal .item .suggest-input .no-margin {
        margin-right: 0; }
      .modal .item .suggest-input ul {
        position: absolute;
        margin: 0;
        padding: 0;
        border: 1px solid #000;
        border-top: none;
        width: 100%; }
        .modal .item .suggest-input ul li {
          border-bottom: 1px solid #000;
          padding: 10px;
          height: 22px;
          cursor: pointer; }
          .modal .item .suggest-input ul li:last-of-type {
            border-bottom: none; }
          .modal .item .suggest-input ul li:hover {
            background-color: #e6e6e6; }
  .modal button {
    position: absolute;
    bottom: 30px;
    right: 30px; }

/*# sourceMappingURL=main.css.map */
